.BrowserLock/
.BurpSuite/
.CFUserTextEncoding
.DS_Store
.android/
.arduinoIDE/
.aspnet/
.aws-backup/
.aws/
.azure/
.bash_history
.bomgar-scc-cb/
.boto
.bundle/
.cache/
.cisco/
.cobra.yaml
.cocoapods/
.conda/
.condarc
.config/
.cookiecutter_replay/
.cookiecutters/
.cshrc
.cups/
.docker/
.dropbox/
.espressif/
.gem/
.gemrc
.gitconfig
.gnupg/
.gradle/
.ipython/
.jupyter/
.krew/
.kube/
.kuberlr/
.kubescape/
.lesshst
.lima/
.local/
.m1-terraform-provider-helper/
.m2/
.matplotlib/
.mc/
.minikube/
.mkshrc
.net/
.netatmorc
.node_repl_history
.npm/
.nvm/
.oh-my-zsh/
.ollama/
.oracle_jre_usage/
.p10k.zsh
.pgadmin/
.profile
.psql_history
.pyenv/
.python_history
.rbenv/
.rd/
.redhat/
.rubies/
.rvm/
.ssh/
.swiftpm/
.tcshrc
.terraform.d/
.thumbnails/
.vagrant.d/
.venv/
.viminfn.tmp
.viminfo
.viminfo.tmp
.viminfp.tmp
.viminfq.tmp
.viminfr.tmp
.viminfs.tmp
.viminft.tmp
.viminfu.tmp
.viminfv.tmp
.viminfw.tmp
.viminfx.tmp
.viminfy.tmp
.viminfz.tmp
.vpn/
.vscode/
.warp/
.wget-hsts
.xonshrc
.yarn/
.yarnrc
.z
.zcompdump
.zcompdump-HW2FNXJGJK-5.8.1
.zcompdump-HW2FNXJGJK-5.8.1.zwc
.zcompdump-HW2FNXJGJK-5.9
.zcompdump-HW2FNXJGJK-5.9.zwc
.zlogin
.zprofile
.zprofile.pysave
.zsh_history
.zsh_sessions/
.zshrc.backup_2023
.zshrc.omz-uninstalled-2023-12-31_08-06-41
.zshrc.pre-oh-my-zsh-2022-08-25_20-10-09
Applications/
Calibre Library/
Desktop/
Documents/
Downloads/
Google Drive
Library/
Local Database.resolve.diskdb
Movies/
Music/
OneDrive - Volvo Cars
Pictures/
Public/
Virtual Machines.localized/
apps/
certs.zip
certs/
database_dump.sql
diary/
dotfiles/
esp/
gerrit_testsite/
git/
go/
kpylot-venv/
miniconda3/
minio/
mysql-data/
nginx.yaml
postgres-data/
src/
vimwiki
.vim/
.Trash/
.tmux/
Zettelkasten
containers/podman/machine/applehv
containers/podman-connections.json
containers/podman-connections.json.lock
~/.oh-my-tmux
gh
configstore
.gitconfig-work
